                            <!-- gallery-item-->
                            <div class="gallery-item">
                                <div class="grid-item-holder hov_zoom">
                                    <img  src="<!-- PRIMARYURL -->"    alt="">
                                    <a href="<!-- PRIMARYURL -->" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>                                    
                                    <div class="thumb-info">
                                        <h3><a href="album-<!-- ID -->.html"><!-- TITLE --></a></h3>
                                        <a href="album-<!-- ID -->.html"><p><!-- DESCRIPTION --></p><a>
                                    </div>
                                </div>
                            </div>
                            <!-- gallery-item end-->
