<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Portfolio - Harold Moses</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content="I have been lucky enough to capture some images of many different types of wildlife in particular, which I hope you will enjoy looking at."/>
        <!--=============== social  ===============-->
        <!-- Twitter Card data -->
        <meta name="twitter:card" value="summary">

        <!-- Open Graph data -->
        <meta property="og:title" content="Portfolio - Harold Moses" />
        <meta property="og:description" content="I have been lucky enough to capture some images of many different types of wildlife in particular, which I hope you will enjoy looking at."/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://harold.tmos.es/portfolio.html" />
        <meta property="og:image" content="https://live.staticflickr.com/8617/16282110642_957aba40f2_k.jpg" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131203296-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-131203296-2');
        </script>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- main start  -->
        <div id="main">
            <!-- header start  -->
            <header class="main-header">
                <!-- logo   -->
                <a href="/" class="logo-holder"><img src="images/logo.png" alt=""></a>
                <!-- logo end  -->		
                <div class="share-btn showshare"><i class="fal fa-megaphone"></i><span>Share</span></div>
                <!-- mobile nav -->
                <div class="nav-button-wrap">
                    <div class="nav-button"><span></span><span></span><span></span></div>
                </div>
                <!-- mobile nav end-->				
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="/">Home </a>
                            </li>
                            <li>
                                <a href="portfolio.html" class="act-link">Portfolio </a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="contacts.html">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->               
            </header>
            <!-- header end -->
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content -->	
                <div class="content">
                    <!-- column-image  -->	
                    <div class="column-image">
                        <div class="bg"  data-bg="https://i.ibb.co/XLmSLhw/799-A1184-129-E-4-CC2-8-C16-BCB5-D2-D5-A63-B.jpg"></div>
                        <div class="overlay"></div>
                        <div class="column-title">
                            <h2>Harold Moses</h2>
                            <h3>I having been "living the dream" over the last few years in retirement, being able to cruise to different parts of the World and have been lucky enough to capture some images of many different types of wildlife in particular, which I hope you will enjoy looking at.</h3>
                        </div>
                        <div class="column-notifer">
                            <div class="scroll-down-wrap transparent_sdw">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                                <span>Scroll down to Discover</span>
                            </div>
                        </div>
                        <div class="fixed-column-dec"></div>
                    </div>
                    <!-- column-image end  -->	
                    <!-- column-wrapper -->	
                    <div class="column-wrapper column-wrapper_smallpadding">
                        <!-- portfolio start -->
                        <div class="gallery-items min-pad   two-column fl-wrap lightgallery">
                            <!-- gallery-items-go-here-->
                        </div>
                        <!-- portfolio end -->
                    </div>
                    <!-- column-wrapper -->	
                </div>
                <!--content end-->	
                <!--share-wrapper-->
                <div class="share-wrapper">
                    <div class="share-container fl-wrap  isShare"></div>
                </div>
                <!--share-wrapper end-->
            </div>
            <!-- wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->          
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>
